{% extends "base.twig" %}

{% block content %}
<h1>Home page</h1>
<img src="images\web-g6acf2d853_640 (1).jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, assumenda quo. Repudiandae dolor atque eum est ipsa. Voluptas, reiciendis ipsa vero, exercitationem eligendi, nobis eaque porro ad expedita cumque doloribus?</p>

{% endblock content %}